
	table.blueTable {
  font-family: "Arial", Helvetica,sans-serif;
  background-color: #EBFFF1;
  width: 100%;
  text-align: left;
  border-collapse: collapse;

}
table.blueTable td, table.blueTable th {
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #FFFFFF;
}
table.blueTable thead {
  background: #4E9186;
  background: -moz-linear-gradient(top, #7aaca4 0%, #5f9c92 66%, #4E9186 100%);
  background: -webkit-linear-gradient(top, #7aaca4 0%, #5f9c92 66%, #4E9186 100%);
  background: linear-gradient(to bottom, #7aaca4 0%, #5f9c92 66%, #4E9186 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 13px;
  font-weight: normal;
  color: #FFFFFF;
  text-align: center;
  border-left: 1px solid #000000;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #90A49F;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
